<div class="d-flex justify-content-between align-items-center mb-3">
  <h2 class="mb-0 font-jiro text-dark border-bottom border-3 border-warning pb-1">
    <% if params[:keyword].present? %>
      「<%= params[:keyword] %>」の検索結果
    <% else %>
      店舗一覧
    <% end %>
  </h2>

  <% if user_signed_in? && current_user.admin? %>
    <%= link_to "新規店舗登録", new_shop_path, class: "btn btn-warning" %>
  <% end %>
</div>

<%= form_with url: shops_path, method: :get, local: true, class: "d-flex" do %>
  <%= hidden_field_tag :keyword, params[:keyword] %>
  <%= select_tag :sort,
        options_for_select([["新着順", "newest"], ["評価順", "rating"], ["お気に入り順", "favorites"]], params[:sort]),
        class: "form-select me-2", onchange: "this.form.submit();" %>
<% end %>

<% if @shops.any? %>
  <div class="row">
    <%= render partial: "shop_card", collection: @shops, as: :shop %>
  </div>
<% else %>
  <p>該当する店舗が見つかりませんでした。</p>
<% end %>
