<h1 class="mb-4">ラーメン二郎 店舗一覧</h1>

<%= link_to '新規店舗追加', new_shop_path, class: "btn btn-primary mb-3" %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>店名</th>
      <th>住所</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @shops.each do |shop| %>
      <tr>
        <td><%= shop.name %></td>
        <td><%= shop.address %></td>
        <td>
          <%= link_to '詳細', shop_path(shop), class: "btn btn-sm btn-outline-secondary" %>
          <%= link_to '編集', edit_shop_path(shop), class: "btn btn-sm btn-outline-primary" %>
          <%= button_to '削除', shop_path(shop), method: :delete, data: { confirm: '本当に削除しますか？' }, class: "btn btn-sm btn-outline-danger" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
